* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   
    color: #fff9f9;
   
	background: linear-gradient(135deg, #48ff41, #d3bbd4);


}
P{
	text-align: center;
	font-size: 40pX;
	font-weight:600;
	padding-top: 10PX;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 5%;
	
}


header {
    width: 100vw;
    min-height: 100vh;

    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
	padding-top: 0;
    padding: 2rem;
}

.container {
    background: rgb(0, 0, 0);
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
	top: 0;
}

.left,
.right {
    flex-basis: 50%;
}

form {
    padding: 1rem;
}

h3 {
    margin-top: 1rem;
    color: #94ff81;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form select:focus {
    border-color: #ed7702;
}


input[type="submit"] {
    width: 100%;
    padding: 0.7rem 1.5rem;
    background: #3fdd1f;
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background: #4c8ed0;
}

@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column;
    }

    


}
